# ---------------------------------------------
# DATABASE PORTS (PostgreSQL)
# ---------------------------------------------
IDENTITY_DB_PORT=5433
CUSTOMER_DB_PORT=5434
PRODUCT_DB_PORT=5435
ORDER_DB_PORT=5436
SUBSCRIPTION_DB_PORT=5437
BILLING_DB_PORT=5438
USAGE_DB_PORT=5439
NOTIFICATION_DB_PORT=5440
TICKET_DB_PORT=5441
PAYMENT_DB_PORT=5442
KEYCLOAK_DB_PORT=5443

# ---------------------------------------------
# INFRASTRUCTURE PORTS
# ---------------------------------------------
KAFKA_EXT_PORT=29095
REDIS_PORT=6379
ZIPKIN_PORT=9411
EUREKA_PORT=8761
CONFIG_PORT=8888
KEYCLOAK_PORT=9011
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

# ---------------------------------------------
# APP DEV PORTS
# ---------------------------------------------
NOTIFICATION_APP_PORT=29007
